<div class="container mx-auto">
  <div class="row">
      <div class="col-12 col-sm-12">
          <div class="card">
              <img class="card-img-top" src="assets/user.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Juan Perez</h5>
                  <p class="card-text"> <i class="fa fa-phone"></i>5580941315</p>
                  <p class="card-text">Dirección</p>
                  <p class="card-text"> <i class="fa fa-location-arrow"></i>Centro, Condesa, Ciudad de México, CDMX</p>
              </div>
          </div>
      </div>

      <div class="col-12 col-sm-12">
          <div class="card">
              <img class="card-img-top" src="assets/l/cienaños.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">El quinto Elmento</h5>
                  <p class="card-text">Alejandro Suarez</p>
                 <p class="card-text">Deusto</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="sipnosis">
              <p class="d-flex text-justify">Los clásicos hablaban de cuatro elementos: tierra, agua, fuego y aire, así como de un quinto invisible, el éter. Estos cuatro elementos son también las cuatro divisiones de los ejércitos, a los que ahora se añade un quinto elemento: el ciberespacio (también, como el éter, invisible y casi indetectable).

                    Una nueva contienda mundial ha comenzado y todos somos soldados en las trincheras. El nuevo gran conflicto internacional trasciende todas las fronteras físicas y se libra simultáneamente en cientos de países. El nuevo escenario de la lucha son las redes digitales, el ciberespacio y el iceberg de la gran Internet oculta que no conocemos. Quien domine la información y la sociedad intrerconectada controlará el mundo.
                    
                    ¿Qué papel tienen en ello los gobiernos mundiales, con agencias como el CNI español o la NSA estadounidense? ¿Cómo aprovechan este nuevo escenario criminales y terroristas? ¿Qué papel tienen las empresas y cómo se aprovechan o se defienden de ellos, según los casos? ¿Puede un ataque informático sembrar el caos y provocar un desplome económico mundial? ¿Son tus datos sólo tuyos o hay quien puede utilizarlos en tu contra? Espionaje de las telecomunicaciones, control de las agencias gubernamentales a sus propios ciudadanos, ciberataques y competencia empresarial, ciberterrorismo, robo de secretos militares, sabotaje industrial. Los crímenes del futuro que ya están aquí y están siendo silenciados.
                    
                    Descubre la partida que se juega entre bambalinas, y cómo puedes protegerte y minimizar sus efectos, en un relato desasosegante, ante el cual sólo cabe reaccionar disponiendo de toda aquella información que, qué duda cabe, nos quieren ocultar y que Alejandro Suárez Sánchez-Ocaña desvela en este libro.</p>
          </div>
      </div>
  </div>
</div>
