.container {
    width: 100%;
    min-height: calc(100vh - 200px);
}

.card{
    width: 205px;
    height: 250px;
    margin-bottom: 325px;
}

.card {
    border: none;
}

.card article{
    display: flex;
    width: 1000px;
    height: 600px;

}