<div class="container">

  <div class="page-header">
    <h1>Lugares</h1>
    <div id="mapa">

    </div>
  </div>



  <table class="table table-borderless mt-5">
    <thead>
      <tr>
        <th scope="col">LIBRERIA</th>
        <th scope="col">DIRECCIÓN</th>
        <th scope="col">TELEFONO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Callejon del libro</th>
        <td>Condesa Centro Histórico, Centro 06000 Ciudad de México, CDMX</td>
        <td>varios</td>
      </tr>
      <tr>
        <th scope="row">Libreria de viejo</th>
        <td>Donceles 75, Centro, 06000 Ciudad de México, CDMX</td>
        <td>55 5510 0011</td>
      </tr>
      <tr>
        <tr>
          <th scope="row">Libreria del centro SA de CV</th>
          <td>Av. 5 de Mayo 27, Centro Histórico, Centro, 06000 Ciudad de México, CDMX</td>
          <td>55 5510 0354</td>
        </tr>
        <tr>
          <th scope="row">Distribuidora y librerias Tauro</th>
          <td>Justo Sierra 30, Centro Histórico, Centro, 06020 Ciudad de México, CDMX</td>
          <td>55 2616 6945</td>
        </tr>
        <tr>
          <th scope="row">Antigua Madero Libreria</th>
          <td> Calle Isabel la Catolica 97, Centro Histórico, Centro, 06000 Ciudad de México, CDMX</td>
          <td>55 5510 2068</td>
        </tr>
        <tr>
          <th scope="row">El Laberinto</th>
          <td>local-A, Donceles 74, Centro, 06000 Ciudad de México, CDMX</td>
          <td>55 5521 3675</td>
        </tr>
        <tr>
          <tr>
            
            <th scope="row">Librería Regia</th>
            <td>Donceles 48, Centro Histórico, Centro, 06000 Ciudad de México, CDMX</td>
            <td>55 5518 4719</td>
          </tr>
          <tr>
            <th scope="row">Librería Maranatha</th>
            <td>Bolívar 8 Colina Centro, Cuauhtémoc, Centro, 06000 Ciudad de México, CDMX</td>
            <td>55 5512 9390</td>
          </tr>
          <tr>
    </tbody>
  </table>

</div>
