<div class="container">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">¿Quiénes Somos?</h1>
          <p class="lead">Somos un grupo de personas encargadas de impulsar los pequeños y medianos negocios,
              que se dedican a la venta de libros. Además de apoyar a las comunidades que no cuentan con los recursos
              para que tengan una mejor educación en escuelas rurales.
          </p>
      </div>
  </div>
  <div class="row">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    
    
    <div id="contenedor"></div>
    <div id="grid">
      <div>
        <h1>EVENTOSS</h1>
    
    
        <div class="contenedor">
          <div class="contenedor_tarjeta">
    
            <figure>
    
              <img src="/assets/libMision.png" class="frontal img-fluid">
              <figcaption class="trasera">
                <h2>
                 MISIÓN
                </h2>
                <hr>
                <p>Nuestra misión es impulsar a las librerias antiguas y ambulantes para que las personas 
                    tengan una mejor venta, con la cual puedan brindar los libros a precios accesibles para los 
                    usuarios. Además de poder aportar las escuelas y/o zonas rurales con libros para sus bibliotecas.
                </p>
              </figcaption>
    
            </figure>
    
    
          </div>
    
    
          <div class="contenedor_tarjeta">
    
            <figure>
    
              <img src="/assets/libVision.png" class="frontal img-fluid">
              <figcaption class="trasera">
                <h2>
                  VISIÓN
                </h2>
                <hr>
                <p>Lograr culturizar a las personas del valor que tienen los libros 
                    y lo mucho que ayudan dentro del acervo cultural para ser personas más conscientes
                    con una mente más abierta cualquier tema.
                </p>
              </figcaption>
    
            </figure>
    
    
          </div>
    
    
    
          <div class="contenedor_tarjeta">
    
            <figure>
    
              <img src="/assets/libValores.png" class="frontal img-fluid">
              <figcaption class="trasera">
                <h2>
                  <a href="https://www.futbolitobimbo.com.mx/" target="_blank">VALORES</a>
                </h2>
                <hr>
                    <ul>
                        <li>Compromiso</li>
                        <li>Solidaridad</li>
                        <li>Honestidad</li>
                        <li>Generosidad</li>
                        <li>Respeto</li>
                    </ul>
                
              </figcaption>
    
            </figure>
    
    
          </div>
        </div>
    
      </div>
    </div>
  </div>
  
</div>
